/*
PIG GAME CSS
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/*
PLAYERS
*/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name {
  font-weight: 300;
  /* Color transformation */
  color: black;
  -webkit-animation-name: activePlayer;
  -webkit-animation-duration: .5s;
  animation-name: activePlayer;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

.active .player-name::after {
    content: "\21B5";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;

}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice, .diceTwo {
    position: relative;
    top: 120px;
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.diceTwo{
  top: 150px;
}

.dice-holder{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.diceShake{
  animation: shake .125s;
  animation-iteration-count: 1;
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }

.wScore {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 520px;
  color: #555;
  font-size: 10px;
  font-family: 'Overpass', sans-serif;
  text-align: center;
  padding: 10px;
  width: 160px;
  text-transform: uppercase;
}

.wScore:focus{
  outline: none;
  }

/*
KEY FRAME ANIMATIONS
*/

/* Active Player font color */
@-webkit-keyframes activePlayer {
100% {transform: scale(1.02, 1.02);}
}

@keyframes activePlayer {
  100% {transform: scale(1.02, 1.02);}
}

/* Shake */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
/*  20% { transform: translate(-3px, 0px) rotate(1deg); } */
/*  30% { transform: translate(3px, 2px) rotate(0deg); } */
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
/*  60% { transform: translate(-3px, 1px) rotate(0deg); } */
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
/*  90% { transform: translate(1px, 2px) rotate(0deg); } */
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
